* {
    background-color:rgb(26, 43, 43)
  }

body {
    text-align: center;
    font-family: Arial black, Helvetica, sans-serif;
    color: whitesmoke;
}

#board {
    height: 540px;
    width: 630px;

    background-color: black;
    border: 10px solid rgb(17, 29, 29);

    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    box-shadow: 0px 10px 36px 16px rgb(0, 0, 0);
}

.tile {
    height: 66px;
    width: 66px;
    background-color: white;
    border-radius: 50%;
    margin: 6px;
    border: 6px solid rgb(20, 18, 18)
}

.blue-piece {
    background-color: rgba(6, 6, 199, 0.571)
}

.red-piece {
    background-color: rgb(131, 0, 0)
}

button {
    margin-bottom: 20px;
    height: 30px;
    border: none;
    border-radius: 5px;
    color: rgb(255, 255, 255);
    background-color: rgb(67, 67, 67);
    cursor: pointer
}

button:hover {
    transition: 0.25s;
    background-color: rgb(151, 34, 34)
}

/* @media(max-width:700px){
    #board{
        width: 500px;
    }
}
@media(max-width:520px){
    #board{
        width: 400px;
    }    
}
@media(max-width:420px){
    #board{
        width: 320px;
    } 
} */