body {
    font-family: Arial black, Helvetica, sans-serif;
    text-align: center
}

#board {
    height: 540px;
    width: 630px;

    background-color: black;
    border: 10px solid rgb(17, 29, 29);

    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    box-shadow: 0px 10px 36px 16px rgb(26, 43, 43);
}

